:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  background-color: #242424;
  background-image: url("https://backiee.com/static/wpdb/wallpapers/v2/3840x2160/346787.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.nav-link {
  color: lightblue;
  cursor: pointer;
  transition: color 0.7s ease, text-decoration 0.7s ease;
}

.nav-active {
  color: rgb(89, 89, 222);
}

.animation-scroll {
  animation: appear 5s;
  animation-timeline: view();
  animation-range: entry 0;
}

.animation-appear {
  animation: appear 3s;
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.2;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
